@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");

body {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fee402;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffee56;
}

.btn-hover {
  @apply hover:bg-primaryHover transition duration-150;
}

.link-hover {
  @apply hover:text-primary transition duration-150;
}

.bg-style {
  @apply bg-no-repeat bg-cover bg-center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
